<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h1><%= @cocktail.name %></h1>
      <p>Ingredients</p>
      <div>
        <ul>
          <% @cocktail.doses.each do |dose| %>
            <li><%= dose.ingredient.name %>: <%= dose.description %>
              <small>
                <%= link_to dose_path(dose),
                    method: :delete,
                    data: { confirm: "Are you sure?" } do  %>
                  <i class="fa fa-trash-o"></i>
                <% end %>
              </small>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-md-4 col-md-offset-4">
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.association :ingredient %>
        <%= f.input :description %>
        <%= f.submit class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <%= link_to "Back", cocktails_path %>
</div>
